@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: iransans;
    src: url("../../public/assets/fonts/iransans/irsans-l.woff");
}

html , body{
    font-family: iransans;
  }

.slider-master
.swiper-pagination-bullet{
  width: 14px;
  height: 14px;
  background-color: #3998AC
  ;
}

.slider-master
.swiper-pagination-bullet-active {
  width: 60px;
}
